@charset "utf-8";
/* CSS Document */

.bgparch {
	background-image: url("background.jpg");
	background-color: #9f926f;
	border-width:thin;
	border-style:solid;
	border-color:#58170D;
	align-self: center;  
	padding:15px; 
	margin-left:20%;
	margin-right:20%;
}

@font-face{
	font-family: Lora;
	src: url(Lora Regular 400.ttf);
}

text{
	color: #58170D;
	font-size: 12pt;
	font-family:Lora;
}
text.subtitle{
	font-weight: bold
}
text.title{
	font-size:20pt;
	text-transform:uppercase;
	font-weight:bold;
}